<tr class="events item{{#if access}} {{access}}{{/if}}{{#if deprecated}} deprecated{{/if}}{{#if extended_from}} inherited{{/if}}">
    <td style="width: 40%"><strong class="name">{{name}}</strong>
    {{#if type}}
    <span class="type">{{#crossLink type}}{{/crossLink}}</span>
    {{/if}}
    </td>


    <td>

        <div class="description">
            {{{eventDescription}}}
        </div>

        {{#if params}}
            <div class="params">
                <h4>Event Payload:</h4>

                <ul class="params-list">
                {{#params}}
                    <li class="param">
                        {{#if optional}}
                            <code class="param-name optional">[{{name}}{{#if optdefault}}={{optdefault}}{{/if}}]</code>
                            <span class="type">{{#crossLink type}}{{/crossLink}}</span>
                            <span class="flag optional" title="This parameter is optional.">optional</span>
                        {{else}}
                            <code class="param-name">{{name}}</code>
                            <span class="type">{{#crossLink type}}{{/crossLink}}</span>
                        {{/if}}

                        {{#if multiple}}
                            <span class="flag multiple" title="This parameter may occur one or more times.">Multiple</span>
                        {{/if}}

                        <div class="param-description">
                            {{{description}}}
                        </div>

                        {{#if props}}
                            <ul class="params-list">
                                {{#props}}
                                <li class="param">
                                    {{#if optional}}
                                        <code class="param-name optional">[{{name}}{{#if optdefault}}={{optdefault}}{{/if}}]</code>
                                        <span class="type">{{#crossLink type}}{{/crossLink}}</span>
                                        <span class="flag optional" title="This parameter is optional.">optional</span>
                                    {{else}}
                                        <code class="param-name">{{name}}</code>
                                        <span class="type">{{#crossLink type}}{{/crossLink}}</span>
                                    {{/if}}

                                    <div class="param-description">
                                        {{{description}}}
                                    </div>

                                    {{#if props}}
                                        <ul class="params-list">
                                            {{#props}}
                                            <li class="param">
                                                <code class="param-name">{{name}}</code>
                                                <span class="type">{{#crossLink type}}{{/crossLink}}</span>

                                                <div class="param-description">
                                                    {{{description}}}
                                                </div>
                                            </li>
                                            {{/props}}
                                        </ul>
                                    {{/if}}
                                </li>
                                {{/props}}
                            </ul>
                        {{/if}}
                    </li>
                {{/params}}
                </ul>
            </div>
        {{/if}}


        {{#example}}
            <div class="example">
                <h4>Example:</h4>

                <div class="example-content">
                    {{{.}}}
                </div>
            </div>
        {{/example}}
    </td>
</tr>
