<tr class="method item{{#if access}} {{access}}{{/if}}{{#if deprecated}} deprecated{{/if}}{{#if overwritten_from}} inherited{{/if}}{{#if extended_from}} inherited{{/if}}">
    <td>
        <strong>{{name}}
        {{#if params}}
            (
            {{#params}}
                {{#if optional}}
                    <span class="optional">{{name}}{{#if optdefault}}={{optdefault}}{{/if}}</span>
                {{else}}
                    <span>{{name}}</span>
                {{/if}}
            {{/params}}
            )
        {{else}}
            ()
        {{/if}}
        </strong>

        <div class="description">
            {{{methodDescription}}}
        </div>

        {{#if params}}
            <ul class="params-list list">
            {{#params}}
                <li class="param">
                    {{#if optional}}
                        <strong class="param-name optional">{{name}}{{#if optdefault}} = {{optdefault}}{{/if}}</strong>
                        <span class="type">{{#crossLink type}}{{/crossLink}}</span>
                        <span class="flag optional" title="This parameter is optional.">optional</span>
                    {{else}}
                        <span class="param-name">{{name}}</span>
                        <span class="type">{{#crossLink type}}{{/crossLink}}</span>
                    {{/if}}

                    {{#if multiple}}
                        <span class="flag multiple" title="This argument may occur one or more times.">multiple</span>
                    {{/if}}

                    <div class="param-description">
                        {{{description}}}
                    </div>

                    {{#if props}}
                        <ul class="params-list list">
                            {{#props}}
                            <li class="param">
                                {{#if optional}}
                                    <strong class="param-name optional">{{name}}{{#if optdefault}} = {{optdefault}}{{/if}}</strong>
                                    <span class="type">{{#crossLink type}}{{/crossLink}}</span>
                                    <span class="flag optional" title="This parameter is optional.">optional</span>
                                {{else}}
                                    <span class="param-name">{{name}}</span>
                                    <span class="type">{{#crossLink type}}{{/crossLink}}</span>
                                {{/if}}

                                <div class="param-description">
                                    {{{description}}}
                                </div>

                                {{#if props}}
                                    <ul class="params-list list">
                                        {{#props}}
                                        <li class="param">
                                            {{#if optional}}
                                                <strong class="param-name optional">{{name}}{{#if optdefault}} = {{optdefault}}{{/if}}</strong>
                                                <span class="type">{{#crossLink type}}{{/crossLink}}</span>
                                                <span class="flag optional" title="This parameter is optional.">optional</span>
                                            {{else}}
                                                <strong class="param-name">{{name}}</strong>
                                                <span class="type">{{#crossLink type}}{{/crossLink}}</span>
                                            {{/if}}

                                            <div class="param-description">
                                                {{{description}}}
                                            </div>
                                        </li>
                                        {{/props}}
                                    </ul>
                                {{/if}}
                            </li>
                            {{/props}}
                        </ul>
                    {{/if}}
                </li>
            {{/params}}
            </ul>
        {{/if}}
    </td>
</tr>
